<footer>
    <h1>CampusWell Footer</h1>
    <h2>About:</h2>
    <p>CampusWell is aimed at helping the mental wellbeing of students.</p>
    <p>Contact:</p>
    <ul>
        <li>Phone: 04123456789</li>
        <li>Email: Campuswell@wsu.edu.au</li>
    </ul>
</footer>