<header class="page-header">
  <div class="header-content">
    <h1>
      <%= headerTitle %>
    </h1>
    <nav class="navbar">
      <div class="nav-logo">
        <a href="/">CampusWell</a>
      </div>
      <ul class="nav-links">
        <!--Show this navbar only for logged in users-->
        <% if (user) { %>
          <li><a href="/">Home</a></li>
          <li><a href="/mood">Mood Logging</a></li>
          <li><a href="/mood/history">Mood History</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/support">Support</a></li>
          <li><a href="/user-profile">User Profile</a></li>
          <li><a href="/logout">Logout</a></li>
          <% } else { %>
            <!--Show this navbar only for guests (not logged in users)-->
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/support">Support</a></li>
            <% } %>
      </ul>
    </nav>
  </div>
</header>