<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Support Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <%- include("header", { headerTitle: "Support" }) %>


    <main class="centre">
      <h1>We're Here to Support You</h1>
      <p>It looks like you've logged several low moods in a row. Here are some suggestions to help:</p>
      <ul>
        <li>Take a short break or walk outside.</li>
        <li>Reach out to a friend or family member.</li>
        <li>Try a calming breathing or mindfulness exercise.</li>
        <li>If you feel persistently low, consider talking to a counsellor.</li>
      </ul>
    </main>
    <%- include("footer") %>

</body>

</html>